@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f58727;
  --color-secondary: #fdd9b9;
  --color-accent: #6f6f6f;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #f58727;
  --color-secondary: #fdd9b9;
  --color-accent: #6f6f6f;
}
* {
  font-family: "Lato", sans-serif;
}
